<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <a href="/fruits"><button>Fruits</button> </a>
    <a href="/veggies"><button>Veggies</button> </a>
    
   <!-- <button id=""loadVeggies>Veggies</button> 
   <ul id="vegList"></ul> -->


  <script type="module" src="server.js"></script>  
</body>
</html>